/* @import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Fira+Sans:wght@300&display=swap');
:root {
  background-color: rgba(83, 94, 126, 0.05);
  --primaryColor: #8435CD;
  --accentColor: #B50088;
  --greyBackground: #d3d3d3;
  --iconBackground: #B682E6;
  --fontColour: #333;
  --modalOuterOpen: rgba(230, 230, 250, 0.5);
  --borderRadius: 0.5rem;
  --boxShadow: 0 16px 24px 2px rgba(29,17,51,.04),0 6px 32px 4px rgba(9,32,77,.12),0 8px 12px -5px rgba(29,17,51,.12);
  font-size: 62.5%;
  --verbTextFontSize: 1.6rem;
}

/* @media (max-width: 40em) {
  :root {
    --verbTextFontSize: 1.4rem;
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--fontColour);
}

a {
  text-decoration: none;
  background: linear-gradient(90deg, var(--accentColor), var(--primaryColor));
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  text-shadow: none;
}

a:hover {
  background: var(--primaryColor);
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  text-shadow: none;
  border-bottom: 1px solid var(--primaryColor);
}

.bold {
  font-weight: bold;
}

.container {
  height: 100vh;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
 }

/* Progress Bar */
#progressbar {
  width: 100%;
  height: 0.4rem;
  background-color: var(--greyBackground);
}

#progressbar-filled {
  width: 50%;
  height: 0.4rem;
  background-color: var(--primaryColor);
}

#dash-container {
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  font-family: 'Fira Mono', monospace;
  padding: 2rem 0 2rem 0;
}

.hidden {
  display: none;
}

.dash-item, .counter {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 1.8rem;
  height: 7rem;
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
}

#counter {
  grid-column: 4 / 5;
  color: var(--accentColor);
  border-style: none;
  box-shadow: none;
}

label:hover {
  background-color: var(--greyBackground);
  cursor:pointer;
  transform: scale(1.03);
  transition: transform 150ms;
}

input[type=checkbox]:checked + label {
  background-color: var(--primaryColor);
  color: white;
  cursor:pointer;
}

.list-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 98vw;
}

.verb-container {
  display: grid;
  grid-template-columns: 3.8rem 10fr 0.1rem 3.8rem;
  justify-items: stretch;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: var(--verbTextFontSize);
  margin-bottom: 1rem;
  width: 100%;
  border-radius: var(--borderRadius);
  background-color: white;
  box-shadow: var(--boxShadow);
}

.verb-level {
  display: grid;
  align-content: center;
  color: var(--fontColour);
}

.verb-speaker, .verb-meaning {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--iconBackground);
}

.verb-speaker {
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
}

.verb-meaning {
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

.verb-speaker:hover {
  cursor: pointer;
  background-color: var(--primaryColor);
  transform: scale(1.03);
  transition: transform 150ms;
}

.verb-meaning:hover {
  cursor: pointer;
  background-color: var(--primaryColor);
  transform: scale(1.03);
  transition: transform 150ms;
}

.verb-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-left: 0.8rem;
}

.modal-outer {
  display: grid;
  background: var(--modalOuterOpen);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  /* Hide this modal until we need it */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.modal-outer {
  width: 100%;
}

.modal-outer.open {
  opacity: 1;
  pointer-events: all;
}

.modal-inner {
  max-width: 98vw;
  min-width: 40vw;
  padding: 2rem;
  margin: 0 1rem 0 1rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  border-radius: var(--borderRadius);
  border: 2px solid var(--primaryColor);
  min-height: 200px;
  background: white;
  box-shadow: var(--boxShadow);
  transform: translateY(-200%);
  transition: transform 1.5s;
}

/* for li elements in modal */
li {
list-style: none;
padding: 0;
margin: 0;
}

.modal-outer.open .modal-inner {
  transform: translateY(0);
}


